﻿@model WebApplication5.Models.INGRESA_VEHICULO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ingresar Vehiculo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.INGR_RUT_CLIENTE, "Rut Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.INGR_RUT_CLIENTE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.INGR_RUT_CLIENTE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.INGR_FECHA_INGRESO, "Fecha Ingreso", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.INGR_FECHA_INGRESO, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.INGR_FECHA_INGRESO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_AUTO, "Patente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ID_AUTO", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_AUTO, "", new { @class = "text-danger" })
        </div>
    </div>

    @foreach (var item in ViewData["servicios"] as List<WebApplication5.Models.SERVICIOS>)
    {
        var count = 1;
        <div class="form-group">
            <div class="col-md-offset-2">
                <label>Servicio @count:</label>
                <input id="serviciosid" name="servicios" type="checkbox" value=@item.SERVI_ID />
                <label>@item.SERVI_DESCRIPCION</label>
            </div>
        </div>
        count = count + 1;
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
