﻿@model IEnumerable<WebApplication5.Models.INGRESA_VEHICULO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <span>Rut Cliente</span>
        </th>
        <th>
            <span>Patente</span>
        </th>
        <th>
            <span>Fecha Ingreso</span>
        </th>
        <th>
            <span>Valor Servicios</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var Total_Servicios = item.SERVICIOS.Sum(x=>x.SERVI_VALOR);
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.INGR_RUT_CLIENTE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AUTO.PATENTE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.INGR_FECHA_INGRESO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Total_Servicios)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.INGR_ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.INGR_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.INGR_ID })
    </td>
</tr>
}

</table>
