﻿@model IEnumerable<WebApplication5.Models.AUTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3 style="color: red;">@ViewBag.NullVar</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Marca @Html.DropDownList("ID_MARCA", null, "Seleccione un marca",htmlAttributes: new { @class = "form-control" })</label>
                <label>Ano @Html.DropDownList("ANO", null, "Seleccione un ano",htmlAttributes: new { @class = "form-control" })</label>
                <label>Patente @Html.TextBox("PATENTE", null, htmlAttributes: new { @class = "form-control" })</label>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" style="margin-top: 22px;" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PATENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBSERVACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODELO.DESCRIPCION_MODELO)
        </th>
        <th>MARCA</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PATENTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ANO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OBSERVACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODELO.DESCRIPCION_MODELO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODELO.MARCA.DESCRIPCION)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_AUTO }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_AUTO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_AUTO })
            </td>
        </tr>
    }

</table>
